@font-face {
  font-family: 'iconic-font';
  src: url('../font/iconic-font.eot?5589718');
  src: url('../font/iconic-font.eot?5589718#iefix') format('embedded-opentype'), url('../font/iconic-font.woff?5589718') format('woff'), url('../font/iconic-font.ttf?5589718') format('truetype'), url('../font/iconic-font.svg?5589718#iconic-font') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'iconic-font';
    src: url('../font/iconic-font.svg?5589718#iconic-font') format('svg');
  }
}
*/
/* line 22, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/iconic-font */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "iconic-font";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

/* line 53, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/iconic-font */
.icon-arrow-down:before {
  content: '\d'; }

/* '' */
/* line 54, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/iconic-font */
.icon-comment:before {
  content: '\ce'; }

/* 'Î' */
/* line 55, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/iconic-font */
.icon-arrow-left:before {
  content: '\ef'; }

/* 'ï' */
/* line 56, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/iconic-font */
.icon-search:before {
  content: '\e801'; }

/* '' */
/* line 57, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/iconic-font */
.icon-logo-small-frame:before {
  content: '\e803'; }

/* '' */
/* line 58, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/iconic-font */
.icon-logo-small-bw:before {
  content: '\e804'; }

/* '' */
/* line 59, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/iconic-font */
.icon-logo-long:before {
  content: '\e805'; }

/* '' */
/* line 60, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/iconic-font */
.icon-location-pin:before {
  content: '\e806'; }

/* '' */
/* line 61, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/iconic-font */
.icon-arrow-right:before {
  content: '\e807'; }

/* '' */
/* line 62, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/iconic-font */
.icon-arrow-up:before {
  content: '\e808'; }

/* '' */
/* line 63, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/iconic-font */
.icon-exit-circle:before {
  content: '\e80a'; }

/* '' */
/* line 64, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/iconic-font */
.icon-exit:before {
  content: '\e80b'; }

/* '' */
/* line 65, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/iconic-font */
.icon-headline:before {
  content: '\e80c'; }

/* '' */
/* line 66, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/iconic-font */
.icon-light:before {
  content: '\e80d'; }

/* '' */
/* line 67, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/iconic-font */
.icon-gears:before {
  content: '\e80e'; }

/* '' */
/* line 68, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/iconic-font */
.icon-phone:before {
  content: '\e80f'; }

/* '' */
/* line 69, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/iconic-font */
.icon-icon-5:before {
  content: '\e810'; }

/* '' */
/* line 70, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/iconic-font */
.icon-point:before {
  content: '\e811'; }

/* '' */
/* line 71, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/iconic-font */
.icon-target:before {
  content: '\e812'; }

/* '' */
@-moz-viewport {
  width: device-width;
  scale: 1; }

@-ms-viewport {
  width: device-width;
  scale: 1; }

@-o-viewport {
  width: device-width;
  scale: 1; }

@-webkit-viewport {
  width: device-width;
  scale: 1; }

@viewport {
  width: device-width;
  scale: 1; }

/* line 7, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* line 16, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 21, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #FEFEFE; }
  /* line 26, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
  body.noscript .close-btn, body.noscript .toggle-btn {
    display: none; }

/* line 31, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
.flex-img {
  display: block;
  margin: 0 auto;
  width: 100%; }

/* line 38, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
header {
  position: fixed;
  height: 5em;
  width: 100%;
  z-index: 100;
  background-color: #2d3e4f; }

/* line 46, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
.header-image {
  background: url("../images/water.jpg") no-repeat center top;
  background-size: cover;
  height: 650px;
  margin-bottom: 2em; }

/* line 53, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
.hide {
  display: none; }

/* line 57, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
.subtitle {
  text-align: center;
  color: #FEFEFE;
  text-transform: uppercase; }

/* line 63, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
.contain {
  padding: 0 2.5em; }

/* line 67, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
.toggle-btn {
  color: #FEFEFE;
  position: absolute;
  right: 1em;
  top: 2em; }

/* line 74, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
.list-heading {
  font-weight: 300;
  font-size: 0.75em;
  color: #FEFEFE;
  text-transform: uppercase;
  border-bottom: 2px solid #FEFEFE;
  margin-top: 2em; }

/* line 83, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
.navigation ul {
  background-color: #2d3e4f;
  margin: 0;
  padding: 0; }
  /* line 86, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
  .navigation ul li {
    list-style-type: none; }
    /* line 88, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
    .navigation ul li a {
      font-weight: 300;
      color: #FEFEFE;
      text-transform: lowercase;
      text-decoration: none;
      display: block;
      padding-top: 0.2em;
      padding-bottom: 0.5em;
      text-align: center; }
      /* line 97, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
      .navigation ul li a:hover {
        color: #93A4A7; }

/* line 105, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
.toggle-btn, .close-btn {
  height: 70px;
  width: 70px; }
  /* line 108, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
  .toggle-btn span, .close-btn span {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block; }
  /* line 111, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
  .toggle-btn i, .close-btn i {
    padding: 0.5em; }

/* line 116, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
.close-btn {
  color: #2d3e4f;
  margin: 1em; }

/* line 121, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
.donate-btn {
  font-family: 'Lato', sans-serif;
  color: #FEFEFE;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 2em;
  padding: 0.5em; }
  /* line 130, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
  .donate-btn:hover {
    color: #93A4A7; }

/* line 135, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
.logo {
  font-size: 2.5rem;
  font-weight: 500;
  color: #58aec4;
  text-decoration: none;
  display: block;
  text-align: center; }
  /* line 142, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
  .logo:hover {
    color: #FEFEFE; }

@media only screen and (max-width: 60em) {
  /* line 148, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
  .site-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 100; }
    /* line 153, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
    .site-wrapper .sliding-canvas {
      width: 100%;
      height: 100%;
      position: relative;
      transition: translateX(0);
      transition: all 300ms ease-in-out; }
    /* line 161, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
    .site-wrapper[data-state="slide-open"] .sliding-canvas {
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%); }
    /* line 165, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
    .site-wrapper[data-state="slide-open"] {
      overflow: visible; }

  /* line 172, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
  .slide-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: -100%; }
 }

@media only screen and (min-width: 60em) {
  /* line 184, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
  .toggle-btn, .close-btn {
    display: none; }

  /* line 188, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
  body.noscript .slide-menu {
    position: static;
    right: auto; }

  /* line 193, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
  .list-heading {
    border-bottom: 0;
    margin-top: 0; }

  /* line 198, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
  ul li {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #93A4A7;
    text-transform: lowercase;
    text-decoration: none;
    text-align: center;
    margin-top: 0.5em;
    padding: 0.5em 2em;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: all 0.2s; }
    /* line 211, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
    ul li:hover {
      color: #FEFEFE; }

  /* line 216, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
  ul li ul {
    padding: 0;
    position: absolute;
    top: 2.5em;
    left: 0;
    width: 150px;
    display: none;
    opacity: 0;
    visibility: hidden;
    -transition: opacity 0.2s; }

  /* line 228, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
  ul li:hover ul {
    display: block;
    opacity: 1;
    padding-bottom: 1em;
    visibility: visible;
    background: #2d3e4f;
    text-align: left; }

  /* line 237, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
  .donate-btn {
    float: right;
    display: inline-block;
    padding: 0.3em 1em;
    margin-top: 1.7em;
    box-shadow: 0 0 0 1.5px #fefefe;
    transition: all 150ms ease-in-out; }
    /* line 23, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/mixins */
    .donate-btn:hover {
      color: #2d3e4f;
      background-color: #FEFEFE; }
 }

/* Body */
/* line 249, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
h3, h5 {
  color: #333; }

/* line 253, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
figcaption {
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: center; }

/* line 259, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
.iconic {
  font-size: 6em;
  color: #58aec4;
  text-decoration: none;
  display: block;
  text-align: center; }

/* line 267, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
.down {
  font-size: 0.75em;
  color: #FEFEFE;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

/* line 273, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
.box {
  margin-top: 3em;
  margin-bottom: 3em; }

/* line 278, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
.buttons {
  color: #58aec4;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5em;
  margin-bottom: 3em;
  width: 10em;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 0 0 1.5px #58aec4;
  transition: all 150ms ease-in-out; }
  /* line 23, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/mixins */
  .buttons:hover {
    color: #FEFEFE;
    background-color: #58aec4; }

/* line 291, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
.donate h5 {
  color: #58aec4; }

/* Footer */
/* line 298, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
footer {
  background-color: #f9f9f9;
  color: #333334;
  font-family: 'Lato', sans-serif;
  margin-top: 3em; }

/* line 305, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
.row {
  padding-left: 0;
  padding-right: 0;
  display: block; }

/* line 310, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
.footer-grid {
  padding-left: 1em;
  padding-right: 1em; }

/* line 315, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
footer .footer-grid {
  padding-top: 1.6em;
  padding-bottom: 1.6em;
  border-top: 1px solid #c9c9c9; }

/* line 321, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
footer a {
  color: #a6a6a9;
  text-decoration: none;
  transition: all 10ms ease-in-out; }
  /* line 324, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
  footer a:hover {
    color: #58aec4; }

/* line 330, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
li {
  line-height: 1.6em;
  display: list-item;
  text-align: -webkit-match-parent; }

/* line 336, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
.text-right {
  text-align: right; }

/* line 341, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
.contact-info {
  font-size: 0.7em;
  text-transform: uppercase; }

/* line 346, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
.contact {
  padding-bottom: 2em;
  padding-right: 0; }

@media only screen and (min-width: 600px) {
  /* line 352, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
  .row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1440px; }

  /* line 357, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
  .footer-grid {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 2.5em 1em; }
 }

/* Issues Page */
/* line 367, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
.issue-image {
  background: url("../images/greatlakes-7.jpg") no-repeat center top;
  background-size: cover;
  height: 650px;
  margin-bottom: 2em; }

/* line 374, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
.subtitle-work {
  text-align: center;
  color: #FEFEFE;
  padding: 0 2.5em; }

@media only screen and (min-width: 60em) {
  /* line 381, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
  .subtitle-work {
    padding: 0 10em; }
 }

/* line 386, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
.round {
  border-radius: 450px;
  max-height: 10em;
  max-width: 10em;
  margin-bottom: 2.5em; }

/* line 393, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
.programs-image {
  background: url("../images/greatlakes-27.jpg") no-repeat center top;
  background-size: cover;
  height: 650px;
  margin-bottom: 2em; }

/* line 400, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
.education-image {
  background: url("../images/greatlakes-53.jpg") no-repeat center top;
  background-size: cover;
  height: 650px;
  margin-bottom: 2em; }

/* line 407, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/main */
.mission-image {
  background: url("../images/greatlakes-8.jpg") no-repeat center top;
  background-size: cover;
  height: 650px;
  margin-bottom: 2em; }

/* line 1, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
html {
  font: normal 100%/1.5 Georgia, serif; }

@media only screen and (min-width: 60em) {
  /* line 7, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
  html {
    font-size: 110%; }
 }

@media only screen and (min-width: 90em) {
  /* line 15, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
  html {
    font-size: 120%; }
 }

@media only screen and (min-width: 120em) {
  /* line 23, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
  html {
    font-size: 130%; }
 }

/* line 29, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
h1, h2, h3, h5 {
  text-transform: uppercase;
  text-align: center; }

/* line 37, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, figure, blockquote, details, hr, fieldset, pre, table {
  margin: 0 0 1.5rem; }

/* line 41, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
.yotta {
  font-size: 2.2807rem;
  line-height: 1.3154;
  padding-top: 7em;
  color: #FEFEFE; }

/* line 48, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
.zetta {
  font-size: 2.0273rem;
  line-height: 1.4798; }

/* line 53, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
h1, .exa {
  font-size: 1.802rem;
  line-height: 1.6648; }

/* line 58, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
h2, .peta {
  font-size: 1.6018rem;
  line-height: 1.8729; }

/* line 63, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
h3, .tera {
  font-size: 1.4238rem;
  line-height: 1.0535; }

/* line 68, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
h4, .giga {
  font-size: 1.2656rem;
  line-height: 1.1852; }

/* line 73, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
h5, .mega {
  font-size: 1.125rem;
  line-height: 1.3333; }

/* line 78, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
h6, .kilo {
  font-size: 1rem;
  line-height: 1.5; }

/* line 83, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
small, .milli {
  font-size: 0.8889rem;
  line-height: 1.6875; }

/* line 88, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
.micro {
  font-size: 0.7901rem;
  line-height: 1.8984; }

/* line 94, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
sub, sup {
  font-size: 75%;
  line-height: 1px;
  position: relative;
  vertical-align: baseline; }

/* line 101, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
sup {
  top: -0.5em; }

/* line 105, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
sub {
  bottom: -0.25em; }

/* line 109, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
.text-left {
  text-align: left; }

/* line 113, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
.text-right {
  text-align: right; }

/* line 117, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
.center-align {
  text-align: center;
  max-width: 35em;
  margin: 0 auto;
  padding-bottom: 2em; }

/* line 124, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
.upper {
  text-transform: uppercase; }

/* line 128, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
.normal {
  font-weight: normal; }

/* line 132, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
.bold {
  font-weight: bold; }

/* line 136, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
.italic {
  font-style: italic; }

/* line 140, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
.push {
  margin-bottom: 1.5rem; }

/* line 144, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
.push-none, .push-0 {
  margin-bottom: 0; }

/* line 148, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
.push-double, .push-2 {
  margin-bottom: 3rem; }

/* line 152, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
.push-half, .push-1-2 {
  margin-bottom: 0.75rem; }

/* line 156, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
.push-quarter, .push-1-4 {
  margin-bottom: 0.375rem; }

/* line 160, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
.pad-top, .pad-t {
  padding-top: 1.5rem; }

/* line 164, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
.pad-bottom, .pad-b {
  padding-bottom: 1.5rem; }

/* line 168, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
.pad-top-double, .pad-t-2 {
  padding-top: 3rem; }

/* line 172, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
.pad-bottom-double, .pad-b-2 {
  padding-bottom: 3rem; }

/* line 176, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
.pad-top-half, .pad-t-1-2 {
  padding-top: 0.75rem; }

/* line 180, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
.pad-bottom-half, .pad-b-1-2 {
  padding-bottom: 0.75rem; }

/* line 184, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
.pad-top-quarter, .pad-t-1-4 {
  padding-top: 0.375rem; }

/* line 188, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
.pad-bottom-quarter, .pad-b-1-4 {
  padding-bottom: 0.375rem; }

/* line 192, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
.island {
  padding: 1.5rem; }

/* line 196, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
.island-double, .island-2 {
  padding: 3rem; }

/* line 200, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
.island-half, .island-1-2 {
  padding: 0.75rem; }

/* line 204, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
.island-quarter, .island-1-4 {
  padding: 0.375rem; }

/* line 208, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
.gutter {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

/* line 213, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
.gutter-double, .gutter-2 {
  padding-left: 0.75rem;
  padding-right: 0.75rem; }

@media only screen and (min-width: 30em) {
  /* line 219, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
  .gutter-double, .gutter-2 {
    padding-left: 3rem;
    padding-right: 3rem; }
 }

/* line 225, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
.gutter-half, .gutter-1-2 {
  padding-left: 0.75rem;
  padding-right: 0.75rem; }

/* line 230, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/type */
.gutter-quarter, .gutter-1-4 {
  padding-left: 0.375rem;
  padding-right: 0.375rem; }

/* line 1, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
.grid {
  margin: 0;
  padding: 0;
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

/* line 14, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
.grid-bottom {
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  -ms-flex-align: end;
      align-items: flex-end; }

/* line 20, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
.grid-middle {
  -webkit-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
      align-items: center; }

/* line 26, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
.grid-stretch {
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  -ms-flex-align: stretch;
      align-items: stretch; }

/* line 32, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
.opera-only :-o-prefocus, .grid {
  word-spacing: -0.43em; }

/* line 36, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
.unit {
  letter-spacing: normal;
  text-rendering: auto;
  vertical-align: top;
  word-spacing: normal;
  display: inline-block;
  visibility: visible; }

/* line 45, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
.grid-bottom .unit {
  vertical-align: bottom; }

/* line 49, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
.grid-middle .unit {
  vertical-align: middle; }

/* line 54, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
.unit[class*="push-"], .unit[class*="pull-"] {
  position: relative; }

/* line 58, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
.unit-xs-hidden {
  display: none;
  visibility: hidden; }

/* line 63, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
.unit-xs-centered {
  margin: 0 auto; }

/* line 67, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
.unit-xs-1, .xs-1 {
  display: block;
  visibility: visible;
  width: 100%; }

/* line 73, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
.unit-offset-xs-0 {
  margin-left: 0; }

/* line 78, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
.unit-push-xs-0, .unit-pull-xs-0 {
  left: 0; }

/* line 82, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
.unit-xs-1-2, .xs-1-2 {
  width: 50%; }

/* line 86, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
.unit-offset-xs-1-2 {
  margin-left: 50%; }

/* line 90, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
.unit-push-xs-1-2 {
  left: 50%; }

/* line 94, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
.unit-pull-xs-1-2 {
  left: -50%; }

/* line 98, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
.unit-xs-1-3, .xs-1-3 {
  width: 33.3333%; }

/* line 102, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
.unit-offset-xs-1-3 {
  margin-left: 33.3333%; }

/* line 106, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
.unit-push-xs-1-3 {
  left: 33.3333%; }

/* line 110, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
.unit-pull-xs-1-3 {
  left: -33.3333%; }

/* line 114, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
.unit-xs-2-3, .xs-2-3 {
  width: 66.6667%; }

/* line 118, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
.unit-offset-xs-2-3 {
  margin-left: 66.6667%; }

/* line 122, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
.unit-push-xs-2-3 {
  left: 66.6667%; }

/* line 126, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
.unit-pull-xs-2-3 {
  left: -66.6667%; }

/* line 130, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
.unit-xs-1-2, .xs-1-2, .unit-xs-1-3, .xs-1-3, .unit-xs-2-3, .xs-2-3 {
  display: inline-block;
  visibility: visible; }

@media only screen and (min-width: 25em) {
  /* line 137, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-s-hidden {
    display: none;
    visibility: hidden; }

  /* line 142, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-s-centered {
    margin: 0 auto; }

  /* line 146, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-s-1, .s-1 {
    display: block;
    visibility: visible;
    width: 100%; }

  /* line 152, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-offset-s-0 {
    margin-left: 0; }

  /* line 157, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-push-s-0, .unit-pull-s-0 {
    left: 0; }

  /* line 161, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-s-1-2, .s-1-2 {
    width: 50%; }

  /* line 165, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-offset-s-1-2 {
    margin-left: 50%; }

  /* line 169, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-push-s-1-2 {
    left: 50%; }

  /* line 173, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-pull-s-1-2 {
    left: -50%; }

  /* line 177, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-s-1-3, .s-1-3 {
    width: 33.3333%; }

  /* line 181, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-offset-s-1-3 {
    margin-left: 33.3333%; }

  /* line 185, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-push-s-1-3 {
    left: 33.3333%; }

  /* line 189, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-pull-s-1-3 {
    left: -33.3333%; }

  /* line 193, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-s-2-3, .s-2-3 {
    width: 66.6667%; }

  /* line 197, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-offset-s-2-3 {
    margin-left: 66.6667%; }

  /* line 201, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-push-s-2-3 {
    left: 66.6667%; }

  /* line 205, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-pull-s-2-3 {
    left: -66.6667%; }

  /* line 209, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-s-1-2, .s-1-2, .unit-s-1-3, .s-1-3, .unit-s-2-3, .s-2-3 {
    display: inline-block;
    visibility: visible; }
 }

@media only screen and (min-width: 38em) {
  /* line 218, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-m-hidden {
    display: none;
    visibility: hidden; }

  /* line 223, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-m-centered {
    margin: 0 auto; }

  /* line 227, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-m-1, .m-1 {
    display: block;
    visibility: visible;
    width: 100%; }

  /* line 233, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-offset-m-0 {
    margin-left: 0; }

  /* line 238, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-push-m-0, .unit-pull-m-0 {
    left: 0; }

  /* line 242, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-m-1-2, .m-1-2 {
    width: 50%; }

  /* line 246, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-offset-m-1-2 {
    margin-left: 50%; }

  /* line 250, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-push-m-1-2 {
    left: 50%; }

  /* line 254, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-pull-m-1-2 {
    left: -50%; }

  /* line 258, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-m-1-3, .m-1-3 {
    width: 33.3333%; }

  /* line 262, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-offset-m-1-3 {
    margin-left: 33.3333%; }

  /* line 266, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-push-m-1-3 {
    left: 33.3333%; }

  /* line 270, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-pull-m-1-3 {
    left: -33.3333%; }

  /* line 274, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-m-2-3, .m-2-3 {
    width: 66.6667%; }

  /* line 278, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-offset-m-2-3 {
    margin-left: 66.6667%; }

  /* line 282, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-push-m-2-3 {
    left: 66.6667%; }

  /* line 286, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-pull-m-2-3 {
    left: -66.6667%; }

  /* line 290, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-m-1-2, .m-1-2, .unit-m-1-3, .m-1-3, .unit-m-2-3, .m-2-3 {
    display: inline-block;
    visibility: visible; }
 }

@media only screen and (min-width: 60em) {
  /* line 299, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-l-hidden {
    display: none;
    visibility: hidden; }

  /* line 304, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-l-centered {
    margin: 0 auto; }

  /* line 308, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-l-1, .l-1 {
    display: block;
    visibility: visible;
    width: 100%; }

  /* line 314, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-offset-l-0 {
    margin-left: 0; }

  /* line 319, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-push-l-0, .unit-pull-l-0 {
    left: 0; }

  /* line 323, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-l-1-2, .l-1-2 {
    width: 50%; }

  /* line 327, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-offset-l-1-2 {
    margin-left: 50%; }

  /* line 331, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-push-l-1-2 {
    left: 50%; }

  /* line 335, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-pull-l-1-2 {
    left: -50%; }

  /* line 339, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-l-1-3, .l-1-3 {
    width: 33.3333%; }

  /* line 343, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-offset-l-1-3 {
    margin-left: 33.3333%; }

  /* line 347, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-push-l-1-3 {
    left: 33.3333%; }

  /* line 351, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-pull-l-1-3 {
    left: -33.3333%; }

  /* line 355, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-l-2-3, .l-2-3 {
    width: 66.6667%; }

  /* line 359, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-offset-l-2-3 {
    margin-left: 66.6667%; }

  /* line 363, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-push-l-2-3 {
    left: 66.6667%; }

  /* line 367, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-pull-l-2-3 {
    left: -66.6667%; }

  /* line 371, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-l-1-4, .l-1-4 {
    width: 25%; }

  /* line 375, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-offset-l-1-4 {
    margin-left: 25%; }

  /* line 379, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-push-l-1-4 {
    left: 25%; }

  /* line 383, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-pull-l-1-4 {
    left: -25%; }

  /* line 387, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-l-3-4, .l-3-4 {
    width: 75%; }

  /* line 391, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-offset-l-3-4 {
    margin-left: 75%; }

  /* line 395, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-push-l-3-4 {
    left: 75%; }

  /* line 399, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-pull-l-3-4 {
    left: -75%; }

  /* line 403, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
  .unit-l-1-2, .l-1-2, .unit-l-1-3, .l-1-3, .unit-l-2-3, .l-2-3, .unit-l-1-4, .l-1-4, .unit-l-3-4, .l-3-4 {
    display: inline-block;
    visibility: visible; }
 }

/* line 410, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
.unit-content-distribute {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

/* line 425, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
.content-fill {
  -ms-flex-grow: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
      flex-grow: 2; }

/* line 431, /Users/sam/Documents/Graphic Design/3rd Year/Semester 6/Web Dev. V/greatlakesalliance/scss/components/grid */
.content-shrink {
  -ms-align-self: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }
/*# sourceMappingURL=style.css.map */