
.icon-arrow-down:before { content: '\d'; } /* '' */
.icon-comment:before { content: '\ce'; } /* 'Î' */
.icon-arrow-left:before { content: '\ef'; } /* 'ï' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-logo-small-frame:before { content: '\e803'; } /* '' */
.icon-logo-small-bw:before { content: '\e804'; } /* '' */
.icon-logo-long:before { content: '\e805'; } /* '' */
.icon-location-pin:before { content: '\e806'; } /* '' */
.icon-arrow-right:before { content: '\e807'; } /* '' */
.icon-arrow-up:before { content: '\e808'; } /* '' */
.icon-exit-circle:before { content: '\e80a'; } /* '' */
.icon-exit:before { content: '\e80b'; } /* '' */
.icon-headline:before { content: '\e80c'; } /* '' */
.icon-icon-1:before { content: '\e80d'; } /* '' */
.icon-icon-2:before { content: '\e80e'; } /* '' */
.icon-icon-4:before { content: '\e80f'; } /* '' */
.icon-icon-5:before { content: '\e810'; } /* '' */
.icon-icon-3:before { content: '\e811'; } /* '' */
.icon-icon-6:before { content: '\e812'; } /* '' */