@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}


*, *:before, *:after {
  box-sizing: inherit;
}


body{
  @include zero;
  font-family: $lato;
  background-color: $white;
  &.noscript .close-btn,
  &.noscript .toggle-btn{
    display: none;
  }
}

.flex-img {
display: block;
margin: 0 auto;
width: 100%;
}


header {
  position: fixed;
  height: 5em;
  width: 100%;
  z-index: 100;
  background-color: $dark-blue;
}

.header-image {
  background: url("../images/water.jpg") no-repeat center top;
  background-size: cover;
  height: 650px;
  margin-bottom: 2em;
}

.hide {
  display: none;
}

.subtitle{
  text-align: center;
  color: $white;
  text-transform: uppercase;
}

.contain {
  @include padding;
}

.toggle-btn{
  color: $white;
  position: absolute;
  right: 1em;
  top: 2em;
}

.list-heading{
  font-weight: 300;
  font-size: .75em;
  color: $white;
  text-transform: uppercase;
  border-bottom: 2px solid $white;
  margin-top: 2em;
}

.navigation ul{
  background-color: $dark-blue;
  @include zero;
  li{
    list-style-type: none;
    a{
      font-weight: 300;
      color: $white;
      text-decoration: none;
      display: block;
      text-align: center;
      &:hover{
        color: $grey;
      }   // hover
    }
  } // li
} // .navigation ul

.toggle-btn,
.close-btn{
  height: 70px;
  width: 70px;
  span{
    @include hide-text;
  }
  i{
    padding: .5em;
  }
}

.close-btn{
  color: $dark-blue;
  margin: 1em;
}

.donate-btn{
  font-family: $lato;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 2em;
  padding: .5em;
   &:hover{
      color: $grey;
   }   // hover
}

.logo{
  font-size: 2.5rem;
  font-weight: 500;
  color: $light-blue;
  text-decoration: none;
  display: block;
  text-align: center;
   &:hover{
      color: $white;
   }
}

@media only screen and (max-width: 60em){
  .site-wrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 100;
    .sliding-canvas{
      width: 100%;
      height: 100%;
      position: relative;
      transition: translateX(0);
      @include ease(all, 300ms, ease-in-out);
    } // .sliding-canvas

    &[data-state="slide-open"] .sliding-canvas{
      transform: translateX(-100%);
    }

    &[data-state="slide-open"]{
      // Allow expansion of navigation past page height, when open
      overflow: visible;
    }

  } // .site-wrapper

  .slide-menu{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: -100%;
  }
} // @media

@media only screen and (min-width: 60em){
  .toggle-btn,
  .close-btn{
    display: none;
  }

  body.noscript .slide-menu{
    position: static;
    right: auto;
  }

  .list-heading{
  border-bottom: 0;
  margin-top: 0;
  }

  ul li {
    font-family: $lato;
    font-weight: 300;
    color: $grey;
    text-transform: lowercase;
    text-decoration: none;
    text-align: center;
    margin-top: .5em;
    padding: .5em 2em;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: all 0.2s;
    &:hover{
      color: $white;
    }
  }

  ul li ul {
    padding: 0;
    position: absolute;
    top: 2.5em;
    left: 0;
    width: 150px;
    display: none;
    opacity: 0;
    visibility: hidden;
    -transition: opacity 0.2s;
  }

  ul li:hover ul {
    display: block;
    opacity: 1;
    padding-bottom: 1em;
    visibility: visible;
    background: $dark-blue;
    text-align: left;
  }

  .donate-btn{
    float: right;
    display: inline-block;
    padding: .3em 1em;
    margin-top: 1.7em;
    @include buttons($donate-box-shadow, $dark-blue, $white);
  }
} // @media


/* Body */

h2, h3, h5 {
  color: #333;
}

figcaption {
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: center;
}

.iconic{
  font-size: 6em;
  color: $light-blue;
  text-decoration: none;
  display: block;
  text-align: center;
}

.down{
  font-size: .75em;
  color: $white;
  transform: rotate(180deg);
}

.bottom-margin{
  margin-bottom: 5em;
}

.margin-top{
  margin-top: 1em;
}

.box{
  margin-top: 3em;
  margin-bottom: 3em;
}

.buttons{
  color: $light-blue;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: .5em;
  margin-bottom: 3em;
  width: 10em;
  text-align: center;
  margin: 0 auto;
  @include buttons($thin-box-shadow, $white, $light-blue);
}

.donate h5{
  color: $light-blue;
}


/* Footer */

footer {
	background-color: $footer-bg;
	color: $footer-primary;
	font-family: $lato;
	margin-top: 3em;
}

.row {
	padding-left:0;
	padding-right:0;
	display:block;
}
.footer-grid {
	padding-left:1em;
	padding-right:1em;
}

footer .footer-grid {
	padding-top:1.6em;
  padding-bottom:1.6em;
	border-top:1px solid $footer-border;
}

footer a {
	color: $footer-secondary;
	text-decoration: none;
	&:hover{
		color: $light-blue;
	}
	@include ease(all, 10ms, ease-in-out);
}

li {
	line-height: 1.6em;
	display: list-item;
	text-align: -webkit-match-parent;
}

.text-right {
	text-align:right

}

.contact-info {
	font-size: .70em;
	text-transform: uppercase;
}

.contact {
	padding-bottom: 2em;
	padding-right: 0;
}

@media only screen and (min-width:600px){
	.row {
		display:flex;
		max-width:1440px;
	}

	.footer-grid {
		-webkit-flex:1;
		-ms-flex:1;
		flex:1;
		padding:0 2.5em 1em;
	}
}

/* Issues Page */

.issue-image{
  background: url("../images/greatlakes-7.jpg") no-repeat center top;
  background-size: cover;
  height: 650px;
  margin-bottom: 2em;
}

.subtitle-work{
  text-align: center;
  color: $white;
  @include padding;
}

@media only screen and (min-width: 60em){
  .subtitle-work{
  padding: 0 10em;
  }
}

.round{
  border-radius: 450px;
  max-height: 10em;
  max-width: 10em;
  margin-bottom: 2.5em;
}

.programs-image{
  background: url("../images/greatlakes-27.jpg") no-repeat center top;
  background-size: cover;
  height: 650px;
  margin-bottom: 2em;
}

.education-image{
  background: url("../images/greatlakes-53.jpg") no-repeat center top;
  background-size: cover;
  height: 650px;
  margin-bottom: 2em;
}


/*------------------- Log in page */

form {
  margin:0 auto;
  padding:30px;
  width:400px;
  height:auto;
  overflow:hidden;
  background: rgba(45, 62, 79, .9);
  border-radius:10px;
}

.side-news {
  width: 95%;
  text-align: center;
  padding: 10px;
  padding-bottom: 0;
}

.side-news-p{
  margin-bottom: -5px;
  color: $white;
}


form label {
  font-size:14px;
  color: $white;
  cursor:pointer;
}

form label,
form input {
  float:left;
  clear:both;
}

form input {
  margin:15px 0;
  padding:15px 10px;
  width: 60%;
  outline:none;
  border:1px solid #bbb;
  border-radius:20px;
  display:inline-block;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
    -webkit-transition:0.2s ease all;
     -moz-transition:0.2s ease all;
      -ms-transition:0.2s ease all;
       -o-transition:0.2s ease all;
          transition:0.2s ease all;
}

form input[type=text]:focus,
form input[type="password"]:focus {
  border-color: $dark-green;
}

input[type=submit] {
  padding:15px 20px;
  width:auto;
  background:url("http://im51.gulfup.com/rkvDJI.jpg") center repeat $green;
  background-size:200px;
  border:none;
  color: $white;
  cursor:pointer;
  display:inline-block;
  float:right;
  clear:right;
  -webkit-transition:0.2s ease all;
     -moz-transition:0.2s ease all;
      -ms-transition:0.2s ease all;
       -o-transition:0.2s ease all;
          transition:0.2s ease all;
}

input[type=submit]:hover {
  opacity:0.8;
}

input[type="submit"]:active {
  opacity:0.4;
}

.forgot,
.register {
  margin:10px;
  float:left;
  clear:left;
  display:inline-block;
  color: $white;
  text-decoration:none;
}

.forgot:hover,
.register:hover {
  color: $white;
}

.login-link{ 
  @include login-link($grey, $light-blue);
}

/*---------------Login Page END-----*/

.nav-jump-spacer{
  position:absolute;
  width: 10px;
  height: 10px;
  opacity:0;
  top:-7.2em;
}

.about, .work, .news{
  position:relative;
}

.hide{display: none;}

.login{
  padding-top: 9em;
}

.login-image{
  background: url("../images/greatlakes-56.jpg");
  background-size: cover;
  height: 700px;
}

.inline{
  display: inline-block;
  width: 100%
}


.mission-image{
  background: url("../images/greatlakes-8.jpg") no-repeat center top;
  background-size: cover;
  height: 650px;
  margin-bottom: 2em;
}

/* Work Section */

ul.list li{
  display: list-item;
  list-style-type: disc;
  text-align: left;
  color: #333;
  font-weight: normal;
  cursor: default;
}

.contain-2{
  padding: 0 10%;
  margin: 3em 0;
}

.color-contain{
  background-color: #EFEFEF; 
  padding: 3em 10%;
}

@media (min-width: 50em) {
  .contain-2{
  padding: 0 20%;
  }
  .color-contain{
  padding: 3em 20%;
  }
}

/* About Section */

.about-section{
  background-color: #EFEFEF;
  color: #333;
  margin-top: -2em;
  padding: 5em 2.5em;
}

.linkit a {
  color: $dark-blue;
  text-decoration: none;
  border-bottom: 2px solid $dark-blue;
  font-weight: bolder;
  &:hover{
    color: $light-blue;
    border-bottom: 3px solid $light-blue;
  }
  @include ease(all, 10ms, ease-in-out);
}

.blue-link{
  color: $light-blue;
  text-decoration: none;
  &:hover{
    color: $grey;
  }
  @include ease(all, 10ms, ease-in-out);
}

ul.social-buttons { 
  list-style: none; 
  margin: 5rem; 
  padding: 0;
  text-align: center; 
  margin: 0 auto; 
}

ul.social-buttons li { 
  display: inline-block; 
  margin-right: 10px; 
}


.social-btn { 
  @include buttons($thin-box-shadow, $white, $light-blue);
  color: $light-blue;
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  display: inline-block;  
  font-size: 17px; 
  line-height: 40px;
}

.follow{
  margin-top: 3em;
  color: $footer-secondary;
  text-transform: uppercase;
}

.offices{
  margin-bottom: 3em;
}

.offices h6{
  color: $light-blue;
}

.staff h6{
  color: $light-blue;
  margin-top: 4em;
}

.underline {
display: block;
width: 5em;
height: .18em;
background: $light-blue;
margin: 0 auto;
margin-top: -10px;
margin-bottom: 3em;
}

/* News Page*/

.green {
  color: $green;
}

.wrap {
  height: 100vh;
  display: flex;
}
main {
  flex: 1;
  display: flex;
}
aside, article {
  overflow-y: scroll;
  padding: 2em;
  margin-top: 5em;
}
aside {
  flex: 1;
  background: url("../images/greatlakes-56.jpg") no-repeat center top;
  background-size: cover;
}
article {
  flex: 2;
  background-color: $white;
}
@media (max-width: 50em) {
  main {
    flex-direction: column;
  }
}

/* Education section*/

.kit {
  border:6px solid $footer-border;
  padding: 2em;
  margin-bottom: 2em;
  background-color: #f6f6f6;
}

/* Donate Page */

.donate-image{
  background: url("../images/greatlakes-52.jpg") no-repeat center top;
  background-size: cover;
  height: 650px;
  margin-bottom: 2em;
}
