@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}


*, *:before, *:after {
  box-sizing: inherit;
}

body {
	@include zero;
}

/* Footer */

footer {
	background-color: $footer-bg;
	color: $footer-primary;
	font-family: $opensans;
}

.row {
	display:flex;
	max-width:1440px;
}

.footer-grid {
	-webkit-flex:1;
	-ms-flex:1;
	flex:1;
	padding:0 2.5em 1em;
}

footer .topline, .footer-grid {
	padding-top:1.6em;
	border-top:1px solid $footer-border;
}

.top-menu {
	text-transform: uppercase;
	margin-bottom: 1.6em;
	margin-left: 0;

} 

footer ul li{
	padding: .25 0;
	text-transform: capitalize;
	font-size: 15px;
}

footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer a {
	color: $footer-secondary;
	text-decoration: none;
	&:hover{
		color: $footer-hover;
	}
	@include ease(all, 10ms, ease-in-out);
}

li {
	line-height: 1.6em;
	display: list-item;
	text-align: -webkit-match-parent;
}

.text-right {
	text-align:right

}

.contact-info {
	font-size: .70em;
	text-transform: uppercase;
}

.contact {
	padding-bottom: 2em;
	padding-right: 0;
}

@media only screen and (max-width:600px){
	.row {
		padding-left:0;
		padding-right:0;
		display:block;
	}
	.footer-grid {
		padding-left:1em;
		padding-right:1em;
	}
}