
.icon-comment:before { content: '\e800'; } /* '' */
.icon-arrow-up:before { content: '\e801'; } /* '' */
.icon-arrow-down:before { content: '\e802'; } /* '' */
.icon-arrow-right:before { content: '\e803'; } /* '' */
.icon-arrow-left:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-location-pin:before { content: '\e806'; } /* '' */
.icon-headline:before { content: '\e807'; } /* '' */
.icon-exit:before { content: '\e808'; } /* '' */
.icon-exit-circle:before { content: '\e809'; } /* '' */